.list-group-item {
    cursor: pointer;
}

.badge {
    float: right;
}

.material-icons.incorrect {
    color: #da2d2d;
    font-size: 18px;
}

.material-icons.correct {
    color: #17a2b8;
    font-size: 18px;
}