<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center font-title">Enter Budget</h2>
        <div class="card">
            <div class="card-body">
                <div *ngIf="amountIncorrect" class="text-center mb-3">
                    <span class="badge bg-danger text-error">Budget must be higher than zero</span>
                </div>
                <input type="number" [(ngModel)]="amount" class="form-control form-control-lg"
                    placeholder="Enter your budget...">
                <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="add()">Accept</button>
            </div>
        </div>
    </div>
</div>