/* You can add global styles to this file, and also import other style files */
body {
    background: #134E5E;  /* fallback for old browsers */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.font-title {
    font-family: 'Shantell Sans', cursive;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.text-error {
    font-size: 1rem;
}