<h4 class="text-center">List of expenses</h4>
<hr>
<div class="row" style="margin-top: 40px;">
    <div class="col-lg-6">
        <div class="alert alert-success size-alert">
            Budget: <strong>${{ budget }}</strong>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="size-alert" [ngClass]="applyRemainderColor()">
            Remainder: <strong>${{ remainder }}</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group list-group-flush">
            <li *ngFor="let expense of listExpenses" class="list-group-item d-flex justify-content-between">
                <span>{{ expense.name }}</span>
                <span class="badge rounded-pill bg-secondary">${{ expense.amount }}</span>
            </li>
        </ul>
    </div>
</div>